<section class="verification d-flex">

    <div class="verification-left w-50 h-100">
        <div class="row justify-content-center align-items-center h-100">

            <div class="col-5">

                <div class="row justify-content-center align-items-center">
                    <div class="col-6">
                        <img src="https://www.freepnglogos.com/uploads/email-logo-png-21.png" alt="email-icon"
                            class="img-fluid">
                    </div>
                </div>

                <form action="/changePassword" method="post" onsubmit="return isValidForm()">

                    <div class="header">
                        <h1>Change Password</h1>
                        <p>Change your account password to the new one! We suggest you to make a strong password</p>
                    </div>
                    <div class="verification-form">

                        <div class="container-password">
                            <label for="inputPassword" class="form-label">Password</label>
                            <div class="input-group" id="password-box">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                    data-validation="false" name="password" value="">
                                <span class="input-group-text icon-eye" id="icon-eye-password" data-icon="slash"
                                    data-input="password"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                        <path
                                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                                    </svg></span>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Password must containt 1 Uppercase, 1 Symbol, 1 Number, and min-length = 5 characters!
                            </div>
                        </div>

                        <div class="container-confirmation-password">
                            <label for="inputConfirmation" class="form-label">Confirmation Password</label>
                            <div class="input-group" id="confirmation-box">
                                <input type="password" class="form-control" id="inputConfirmation"
                                    placeholder="Confirmation Password" data-validation="false"
                                    name="confirmationPassword">
                                <span class="input-group-text icon-eye" id="icon-eye-confirmation" data-icon="slash"
                                    data-input="confirmation"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-eye-slash-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                        <path
                                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                                    </svg></span>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Password does not match!
                            </div>
                        </div>

                        <div class="error-message">
                            Enter a valid email address!
                        </div>

                        <div class="text-center container-submit">
                            <button class="signin" id="verification-button" type="submit">Submit Code</button>
                            <span class="d-inline">Already have an account? <a href="/login"
                                    class="sign-up d-inline">Sign
                                    in
                                    here</a></span>
                        </div>

                    </div>

                </form>

            </div>
        </div>

    </div>

    <div class="verification-right w-50 h-100">
        <div class="row align-items-center h-100 w-100 justify-content-center">
            <div class="col-12 p-0">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="login-slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="login-slide-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="login-slide-3.jpg" class="d-block w-100" data-bs-interval="3000" alt=" ...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="/changePassword.js"></script>