html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.verification {
    height: 100vh;

}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 5rem;
    color: black;
    text-align: center;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: darkgrey;
    text-align: center;
}

.verification-form {
    margin-top: 2rem;
}

.verification-form label {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: black;
    margin-top: 2rem;
}

.verification-form input {
    box-sizing: border-box;
    border: 0.2rem solid gray;
    background: white;
    border-radius: 0.6rem;
    height: 4.2rem;
    font-size: 1.4rem;
}

.verification-form #inputPassword,
.verification-form #inputConfirmation {
    border-right: none;
}

.verification-form #inputPhone {
    border-radius: 0.6rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.verification-form .label-phone {
    border: 0.2rem solid gray;
    background-color: white;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.verification-form .icon-eye {
    background-color: white;
    border: 0.2rem solid gray;
    border-radius: 0.6rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.verification-form button {
    margin-top: 2rem;
    background: black;
    width: 100%;
    color: white;
    border-radius: 0.8rem;
    height: 4.2rem;
    margin-bottom: 2rem;
    border: none;
    font-size: 1.4rem;
}

.verification-form span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: gray;
}

.verification-form span a {
    font-weight: 600;
    text-decoration: none;

}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.valid-feedback,
.invalid-feedback {
    font-size: 1.2rem;
}

.is-valid~.icon-eye {
    border-color: #198754;

}

.is-invalid~.icon-eye {
    border-color: #dc3545;

}

.red-alert {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}

.green-alert {
    border-color: #198754 !important;
    color: #198754 !important;
}

.error-message {
    margin-top: 2rem;
    color: red;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    display: none;
}

.is-error {
    display: block !important;
}

.container-submit {
    margin-bottom: 2rem;
}

.container-resend {
    text-align: center;
    margin-top: 2rem;
}

.resend-link {
    color: #e71010;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.resend-link:hover {
    color: #b31b1b;
}